.heroBg {
  background-image: url("../../../assets/images/heroBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: var(--white);
  background-color: #D9D9D9;
}
.hero {
  padding-top: 11rem;
  padding-bottom: 14rem;
}
.label {
  font-size: var(--h5);
  color: var(--green);
  font-weight: 600;
  margin-bottom: 14px;
}
.ttl {
  font-size: var(--h1);
  max-width: 600px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: var(--h1-space);
  max-width: 650px;
}
.txt {
  letter-spacing: 0.3px;
  max-width: 450px;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
button.btn {
  padding: 12.5px 44px;
  font-size: 12.3px;
  letter-spacing: 0.3px;
  font-weight: 500;
}
