/* .tableBodyItem,
.tableHeaderItem {
  --row-width: calc(100% - 200px);
}
.tableBodyItem:nth-child(1),
.tableHeaderItem:nth-child(1) {
  width: calc(10 / 100 * (var(--row-width)));
}
.tableBodyItem:nth-child(2),
.tableHeaderItem:nth-child(2) {
  width: calc(40 / 100 * (var(--row-width)));
}
.tableBodyItem:nth-child(3),
.tableHeaderItem:nth-child(3) {
  width: calc(10 / 100 * (var(--row-width)));
}
.tableBodyItem:nth-child(4),
.tableHeaderItem:nth-child(4) {
  width: calc(30 / 100 * (var(--row-width)));
}
.tableBodyItem:nth-child(5),
.tableHeaderItem:nth-child(5) {
  width: 110px;
}
.tableBodyItem:nth-child(6),
.tableHeaderItem:nth-child(6) {
  width: 60px;
  max-width: 60px;
  padding: 0;
} */

.searchWrap {
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  max-width: 420px;
}
.searchWrap > svg {
  width: 16px;
  margin-right: 1rem;
}
.searchWrap input {
  background: transparent;
  border: none;
  width: calc(100% - 30px);
  font-size: 15px;
}
section.tableWrap {
  background: transparent;
  padding: 0;
}
.addBtn {
  font-size: 17px;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  height: 44px;
  font-family: "Source Sans Pro";
  font-weight: 500;
  margin: 2rem auto;
}
.addBtn svg {
  margin-right: 12px;
}
.emptySec {
  text-align: center;
  padding: 2rem 0;
  background: #fafafa;
  border-radius: 8px;
}
.emptySec > svg {
  width: 70%;
  max-width: 450px;
  margin-bottom: 3rem;
}
.emptySec p {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .tableWrap {
    padding: 2px !important;
    overflow-x: scroll;
  }
  .tableWrap table {
    min-width: 700px;
  }
  .tableTtl {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .emptySec p {
    font-size: 16px;
  }
  .searchWrap p {
    font-size: 14px;
  }
  .addBtn {
    font-size: 13px;
    padding: 8px 12px;
    height: 40px;
  }
  .addBtn svg {
    width: 18px;
    margin-right: 10px;
  }
}